html,body{
    margin-top:10%;
    margin-left:20%;
}
.btn{
    padding:12px 24px;
    color:white;
    border-radius:5px;
    outline: none;
    cursor: pointer;
}
.red_btn{
    background-color:red;
    color:white;
}
.green_btn{
    background-color:green;
    color:white;
}   
.blue_btn{
    background-color:blue;
    color:white;

}
.orange_btn{
    background-color:orange;
    color:white;
}
#heading{
    margin-left:8%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.btn{
    padding:12px 24px;
    color:white;
    border-radius:5px;
    outline: none;
    cursor: pointer;
}
.red_btn{
    background-color:red;
    color:white;
}
.green_btn{
    background-color:green;
    color:white;
}   
.blue_btn{
    background-color:blue;
    color:white;

}
.orange_btn{
    background-color:orange;
    color:white;
}
#heading{
    margin-left:8%;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
#question {
  font-size: 24px;
  font-family: Arial, sans-serif;
}
