.dark_mode{
    background-color:black;
    color:white;
}
.light_mode{
    background-color:white;
    color:black;
}
h1{
    text-align: center;
    margin-top:8%;
}
.btn{
    margin-left:45%;
}

